<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>trains</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <table id="table" border="1">

        <thead>
        <tr>
            <td>Номер поезда</td>
            <td>Направление</td>
            <td>Время прибытия</td>
        </tr>
        </thead>

        <tbody>
        <tr v-for="train in trains">
            <td v-text="train.number"></td>
            <td v-text="train.route"></td>
            <td v-text="train.time"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    var ws = new WebSocket(`ws://${window.location.host}/ws`);

    var app = new Vue({
        el: '#app',
        data: {
            trains: [
                {number: "0",route:"0", time: "0"}
            ]
        },
        mounted: async function () {
            ws.onmessage = async (r) => {
                this.trains = JSON.parse(r.data)
                ws.send("")
            };


        }
    })
</script>
</body>
</html>